@import 'tailwindcss';

*{
    box-sizing: border-box;
}

:root {
    --background: #232829;
    --foreground: #ffffff;
    --primary: #fdb056;
}

@theme inline {
    --breakpoint-sm: 375px;

    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 20px;
}
